<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Cours Python</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/contacts/mickael">Contact de Mickael</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>{{article.titre}}</h1>
        <h4>{{article.description}}</h4>
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=La+Defense,Paris,FR&zoom=13&size=600x300&maptype=roadmap
        &markers=color:blue%7Clabel:S%7C48.888595, 2.248614
        &key=" alt="">
        
    </div>
</body>

</html>